<div class="header">
    <div class="wrapper navbar">
        <div class="logo">
            <a href="{{ .Site.Home.Permalink }}">
                The Every <span class="word-code">Code</span>
            </a>
        </div>
        <div class="menu">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                <a href="{{ .URL }}" class="link {{ if or ($currentPage.IsMenuCurrent "main" .)
                    ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}">
                {{ .Name }}
                </a>
            {{ end }}
        </div>
        <div class="mobile-menu">
            <button id="burger" class="burger-menu" onclick="toggleMenu()">
                <span></span>
            </button>
            <div id="expanded-menu">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <div>
                    <a href="{{ .URL }}" class="link {{ if or ($currentPage.IsMenuCurrent "main" .)
                    ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}">
                    {{ .Name }}
                    </a>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
